body {
  color: black;
  background-color: #570c83;
}

.nav-item {
  font-weight: 600;
  padding-left: 30px;
}

:root {
  --primario: white;
  --gris-claro: black;
  --sombra: 0 0 13px 0 rgba(34, 173, 228, 0.95);
}
#parallax-image {
  background-image: url("imagenes/fondo-v2.jpg");
  height: 300px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#parallax-image-1 {
  background-image: url("imagenes/fondo-v2.jpg");
  height: 150px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#parallax-image-2 {
  background-image: url("imagenes/fondo-v2.jpg");
  height: 150px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#parallax-image-3 {
  background-image: url("imagenes/fondo-v2.jpg");
  height: 150px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
/*opcional*/

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(248, 244, 244);
  font-size: 50px;
}

.card-image {
  position: relative;
}

/* ============= Categorias ============= */
.categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}

.categoria {
  cursor: pointer;
  text-align: center;
  padding: 15px;
  width: 130px;
  height: 130px;
  border-radius: 25%;
  background: #4ddef7d0;
  font-weight: 700;
  color: var(--gris-claro);
  border: 1px solid transparent;
  transition: 0.3s ease all;
}

.categoria:hover {
  box-shadow: var(--sombra);
  color: #000;
}

.categoria:hover path {
  fill: var(--primario);
}

.categoria svg {
  width: 45px;
  margin-bottom: 10px;
}

.categoria path {
  fill: var(--gris-claro);
  transition: 0.3s ease all;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/*------CONTAINER EQUIPO-----*/

.marketing .col-lg-4 {
  text-align: center;
}
/*-----ESPACIOS----*/
.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}
